{% extends 'base.html' %}

{% block content %}
    <div class="d-md-flex" class="left-half" style="margin-top: 5%;">
        <div class="col-md-6 p-0 bg-indigo h-md-100">
            <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
                <textarea name="user_input" id="user_input" cols="100" rows="2" placeholder="Enter Here">{{ ans }}</textarea>
            </div>
            <table>
                <tr>
                    <td><button class="input_expr" id="btn" value="x" onclick="">x</button></td>
                    <td><button class="input_expr" id="btn" value="y" onclick="">y</button></td>
                    <td><button class="input_expr" id="btn" value="z" onclick="">z</button></td>
                    <td><button class="input_expr" id="btn" value="(" onclick="">(</button></td>
                    <td><button class="input_expr" id="btn" value=")" onclick="">)</button></td>
                    <td><button class="input_expr" id="btn" value="7" onclick="">7</button></td>
                    <td><button class="input_expr" id="btn" value="8" onclick="">8</button></td>
                    <td><button class="input_expr" id="btn" value="9" onclick="">9</button></td>
                    <td><button class="input_expr" id="btn" value="DEL" onclick="">DEL</button></td>
                    <td><button class="input_expr" id="btn" value="CLEAR" onclick="">CLEAR</button></td>
                </tr>
                <tr>
                    <td><button class="input_expr" id="btn"  value="f" onclick="">f</button></td>
                    <td><button class="input_expr" id="btn"  value="q" onclick="">q</button></td>
                    <td><button class="input_expr" id="btn" value="h" onclick="">h</button></td>
                    <td><button class="input_expr" id="btn" value="{" onclick="">{</button></td>
                    <td><button class="input_expr" id="btn" value="}" onclick="">}</button></td>
                    <td><button class="input_expr" id="btn" value="4" onclick="">4</button></td>
                    <td><button class="input_expr" id="btn" value="5" onclick="">5</button></td>
                    <td><button class="input_expr" id="btn" value="6" onclick="">6</button></td>
                    <td><button class="input_expr" id="btn" value="/" onclick="">/</button></td>
                    <td><button class="input_expr" id="btn" value="*" onclick="">*</button></td>
                </tr>            
                <tr>
                    <td><button class="input_expr" id="btn" value="sin" onclick="">sin</button></td>
                    <td><button class="input_expr" id="btn" value="cos" onclick="">cos</button></td>
                    <td><button class="input_expr" id="btn" value="tan" onclick="">tan</button></td>
                    <td><button class="input_expr" id="btn" value="[" onclick="">[</button></td>
                    <td><button class="input_expr" id="btn" value="]" onclick="">]</button></td>
                    <td><button class="input_expr" id="btn" value="1" onclick="">1</button></td>
                    <td><button class="input_expr" id="btn" value="2" onclick="">2</button></td>
                    <td><button class="input_expr" id="btn" value="3" onclick="">3</button></td>
                    <td><button class="input_expr" id="btn" value="+" onclick="">+</button></td>
                    <td><button class="input_expr" id="btn" value="-" onclick="">-</button></td>
                </tr>            
                <tr>
                    <td><button class="input_expr" id="btn" value="log" onclick="">log</button></td>
                    <td><button class="input_expr" id="btn" value="exp" onclick="">exp</button></td>
                    <td><button class="input_expr" id="btn" value="^" onclick="">^</button></td>
                    <td><button class="input_expr" id="btn" value="i" onclick="">i</button></td>
                    <td><button class="input_expr" id="btn" value="pi" onclick="">pi</button></td>
                    <td><button class="input_expr" id="btn" value="." onclick="">.</button></td>
                    <td><button class="input_expr" id="btn" value="0" onclick="">0</button></td>
                    <td><button class="input_expr" id="btn" value="=" onclick="">=</button></td>
                    <td><button class="input_expr" id="btn" value="<" onclick=""><</button></td>
                    <td><button class="input_expr" id="btn" value=">" onclick="">></button></td>
                </tr>            
            </table>
            <div class="solution">    
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#step-by-step" class="nav-link active text-dark" data-toggle="tab">Step-byStep</a>
                    </li>
                    <li class="nav-item">
                        <a href="#logger" class="nav-link text-dark" data-toggle="tab">logger</a>
                    </li>
                </ul>
                <div class="tab-content bg-light" class="">
                    <div class="tab-pane fade show active left-tab-content" id="step-by-step">
                        <p class="data">Step By Step Solution will be Shown Here</p>
                    </div>
                    <div class="tab-pane fade left-tab-content" id="logger">
                        <p class="data">Logger</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" class="right-half" >
            <div class="d-sm-flex h-sm-100 p-5 justify-content-center">
                <button class="btn btn-info" onclick="showButton()">Visma</button>
            </div>
            <div class="visma_btn" id="visma_btn">
                <button class="btn btn-success" onclick="getExpr(this.value)" id="simplify" value="simplify">Simplify</button>
                <button class="btn btn-success" onclick="getExpr(this.value)" value="factorial">Factorial</button><br>
                <button class="btn btn-success" onclick="getExpr(this.value)" value="integrate">Integrate</button>
                <button class="btn btn-success" onclick="getExpr(this.value)" value="differentiate">Differentiate</button>
            </div>     
            <div class="history">    
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#history" class="nav-link active text-dark" data-toggle="tab">History</a>
                    </li>
                </ul>
                <div class="tab-content bg-light">
                    <div class="tab-pane show active" id="History">
                        <p class="show-history">History will be Shown Here</p>
                    </div>
                </div>
            </div>                       
        </div>     
    </div>
{% endblock %}